<div class=""><div class="aHl"></div><div id=":op" tabindex="-1"></div><div id=":oe" class="ii gt"><div id=":od" class="a3s aXjCH "><u></u>





<div bgcolor="#ffffff">
Below please find the requested results from the PowerSpout Advanced Calculator:<br>
Your Reference is: <b>{{Calculationcode}}</b><br>
Your Job Reference is: <b>{{formDict.get('JobReference', None)}}</b><br>
Click <a href="{{url}}">here</a> to view them in
the calculator.<br>
<h1>Preferences</h1>
These are the preferences you indicated and any applicable safety notes.<br>
Units: {{formDict.get('Units', None)}}<br>
Type: {{formDict.get('Type', None)}}<br>
<br> {{formDict.get('SafetyNotes', None)|safe}}<br><br><br>
<h1>Hydro</h1>
These are the notes and results from the hydro calculations.<br>

<br>{{formDict.get('HydroNotes', None)|safe}} <br><br><br>

Units: {{formDict.get('Units', None)}}<br>
Flow: {{formDict.get('Flow', None)}}<br>
Used Flow: {{formDict.get('UsedFlow', None)}}<br>
Pipe Head: {{formDict.get('PipeHead', None)}}<br>
Pipe Length: {{formDict.get('PipeLenth', None)}}<br>
Pipe Efficiency: {{formDict.get('PipeEfficiency', None)}}<br>
Pipe Diameter: {{formDict.get('PipeDiameter', None)}}<br>
Number of Powerspouts: {{formDict.get('Powerspouts', None)}} <br>
Nozzles: {{formDict.get('Nozzles', None)}}<br>
JetDiameter:{{formDict.get('JetDiameter', None)}}<br>
ActualPipeEfficiency:{{formDict.get('ActualPipeEfficiency', None)}}<br>
Speed:{{formDict.get('Speed', None)}}br>
Output: {{formDict.get('Output', None)}}<br>
TotalOutput: {{formDict.get('TotalOutput', None)}}<br><br>
<h1>Electrical</h1>
These are the notes and results from the electrical calculations.<br><br>
{{formDict.get('ElecNotes', None)|safe}}<br><br>
OuputVoltage: {{formDict.get('OuputVoltage', None)}}<br>
CableEfficiency: {{formDict.get('CableEfficiency', None)}}<br>
CableLength: {{formDict.get('CableLength', None)}}<br>
LoadVoltage: {{formDict.get('LoadVoltage', None)}}<br>
ActualLoadVoltage: {{formDict.get('ActualLoadVoltage', None)}}<br>
CableMaterial: {{formDict.get('CableMaterial', None)}}<br>
CableSize: {{formDict.get('CableSize', None)}}<br>
CableAWG: {{formDict.get('CableAWG', None)}}<br>
CableCurrent: {{formDict.get('CableCurrent', None)}}<br>
ActualCableEfficiency: {{formDict.get('ActualCableEfficiency', None)}}<br>
ActualTotalOutput: {{formDict.get('ActualTotalOutput', None)}}<br>

Thank you for using the PowerSpout Advanced Calculator.
</div><div class="yj6qo"></div><div class="adL">
</div></div></div><div id=":ot" class="ii gt" style="display:none"><div id=":ou" class="a3s aXjCH undefined"></div></div><div class="hi"></div></div>